*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*to make the width = width + padding + border*/
    list-style: none;
}
/* ##############################
    Layout
############################## */

body{
    /* display: flex;               
    flex-direction: column;   ==> Das zu tun ist überflüssig! Da die Blockelemente auch ohne eine flexbox mit direction Column so angeordent werden */
    
}



/* ##############################
    headerContainer
############################## */

.headerContainer{
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.headerContainer__logo{
    margin-left: 5rem;
    margin-right: 2em;
    padding: 0.4em;

    filter: invert(1); /*macht das Logo Weiß*/
}
.headerContainer__navpoints{
    margin-right: 5rem;
    display: flex;
    gap: 2em;
}

.headerContainer__navpoints__navpoint > a:link, a:visited, a:focus, a:active{
    text-decoration: none; 
    color: white;
}
.headerContainer__navpoints__navpoint a:hover{
    color: #96c1fa;
}



/* ##############################
    bannerContainer
############################## */

.bannerContainer{
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}
.bannerContainer__content{
    flex: 1 1 0;
    margin-left: 5rem;
    margin-right: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
    color: #E5E7EB;

    align-self: center;
}
.bannerContainer__content__h1{
    font-size: 48px;
    font-weight:bolder;

}
.bannerContainer__content__p{
    font-size: 18px;
    margin-bottom: 20px;

}
.bannerContainer__content__button{  
    padding: 5px;
    background-color: #3882F6;
    border: 2px solid #3882F6;
    text-align: center;
    border-radius: 0.5em;
    max-width: 100px;
}
.bannerContainer__content__button:hover{
    background-color: #1352b8;
    border: 2px solid white;
}


.bannerContainer__img{
    flex: 3 1 0;
    margin-right: 5rem;
    margin-bottom: 2em;
    margin-top: 2em;

}
.heroimg{
    width: 100%;
    height: 100%;
    object-fit:cover;
    border-radius: 0.5em;
}



/* ##############################
    contentContainer
############################## */

.contentContainer__h2{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
    padding: 15px;
}
.contentContainer__cards{
    display: flex;
    justify-content: center;
    gap: 2em;
    margin-top: 1em;
    margin-bottom: 7em;
}
.contentContainer__cards__card{
    background-color: #eef5ff;
    border-radius: 0.5em;
    padding: 15px;
    max-width: 12em;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;

    display: flex;
    flex-direction: column;
    gap: 0.5em;
}
.contentContainer__cards__card:hover{
    background-color: #becfe9;
    transform: translateY(-3px);
}

.contentContainer__cards__card__img{
    width: 100%;
    height: 100%;
    object-fit:cover;
    border-radius: 0.5em;
}



/* ##############################
    quoteContainer
############################## */

.quoteContainer{
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.quoteContainer__quote{
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;   
    margin-top: 1em;
    margin-bottom: 0.5em;
    max-width: 600px;
}

.quoteContainer__autor{
    text-align: right;
    font-weight: bolder;
    margin-right: 0.8em;
    margin-bottom: 0.8em;
    margin-left: 250px;
}
/* ##############################
    ctaContainer
############################## */
.ctaContainer{
    background-color: #3882F6;
    color: white;
    border-radius: 0.5em;
    display: flex;
    margin: 5em 8em 5em 8em;
    align-items: center;
}
.ctaContainer__left{
    flex: 4 1 0;
    padding: 0.8em;
}
.ctaContainer__right{
    flex: 1 1 0;
    text-align: center;
}
.ctaContainer__right__button{
 
    max-width: 150px;
    padding: 5px;
    border: 2px solid white;
    border-radius: 0.5em;
    margin-right: 10px;
}
.ctaContainer__right__button:hover{
    background-color: #1352b8;
}




/* ##############################
    footer
############################## */
.footer{
    background-color: #1F2937;
    color: white;
    text-align: center;
}



